body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blanchedalmond;
}
#container {
    height: 100px;
    width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 4px 6px;
    
}
button {
    margin: 20px;
    border-radius: 15px;
    box-shadow: 2px 4px;
}
button:hover {
    cursor: pointer;
    box-shadow: -1px -2px;
}
